NODE_ENV=development
PORT=3005

PRIVATE_PORT=4001
PRIVATE_LISTEN_ADDRESS=0.0.0.0

KEYBASE_ENV=devnet # testnet | mainnet
NODE_CONFIG_DIR="src/config"

#Type orm config
DB_HOST = db
DB_USERNAME = user
DB_PASSWORD = password
DB_NAME = db
DB_PORT = 3306
DB_LOGGING = true
DB_CONNECTION_LIMIT = 4
DB_SLAVES= 

NFT_SERVICE_GQL_ENDPOINT=http://localhost:3005/graphql

#Redis for cache
REDIS_URL="redis"
REDIS_PREFIX="development_env"
REDIS_PORT=6379
REDIS_DB=0

#Pinata config
PINATA_JWT=""
PINATA_API_URL="https://api.pinata.cloud"

#Auth config
JWT_SECRET_KEY=some_secret

#S3 configs
AWS_S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

#ELROND configs
ELROND_API=
ELROND_GATEWAY=

#Enable or Disable modules
ENABLE_PRIVATE_API=true

#Elasticsearch server to use for logging. Optional
ELASTICSEARCH_URL=

#Log filename to use for file logging. Optional
LOG_FILE=

#Log level can be one of : error, debug, info
LOG_LEVEL=error

# CORS domains
CORS_ORIGINS=/\.elrond\.com$/,127.0.0.1,localhost
