version: '3.4'
services:
  redis:
    image: redis
    container_name: nft-api-cache
    command: redis-server
    ports:
      - '6379:6379'
    expose:
      - '6379'

  rabbitmq:
    image: 331leo/rabbitmq3-management-mqtt
    container_name: 'rabbitmq'
    hostname: rabbitmq
    environment:
      HOSTNAME: rabbitmq
      RABBITMQ_NODENAME: rabbitmq
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    volumes:
      - /var/lib/rabbitmq
    ports:
      - 5672:5672
      - 15672:15672

  rabbitmq_common:
    image: 331leo/rabbitmq3-management-mqtt
    container_name: 'rabbitmq_common'
    hostname: rabbitmq
    environment:
      HOSTNAME: rabbitmq
      RABBITMQ_NODENAME: rabbitmq
      RABBITMQ_DEFAULT_USER: 'user'
      RABBITMQ_DEFAULT_PASS: 'password'
    volumes:
      - /var/lib/rabbitmq
    ports:
      - 5673:5672
      - 15673:15672

  db:
    image: mysql:latest
    container_name: nft-db
    restart: always
    environment:
      MYSQL_DATABASE: 'db3'
      # So you don't have to use root, but you can if you like
      MYSQL_USER: 'root'
      # You can use whatever password you like
      MYSQL_PASSWORD: 'password'
      # Password for root access
      MYSQL_ROOT_PASSWORD: 'password'
    ports:
      # <Port exposed> : < MySQL Port running inside container>
      - '3306:3306'
    expose:
      # Opens port 3306 on the container
      - '3306'
      # Where our data will be persisted
    volumes:
      - my-db:/var/lib/mysql
# Names our volume
volumes:
  my-db:
