import { Module } from '@nestjs/common';
import { PluginService } from 'src/common/pluggins/plugin.service';

@Module({
  providers: [PluginService],
  exports: [PluginService],
})
export class PluginModule {}
